h1 {
    font-size: 2em;
    color: #333;
}

h2 {
    font-size: 1.5em;
    color: #666;
}

h3 {
    font-size: 1.17em;
    color: #999;
}

h4 {
    font-size: 1em;
    color: #ccc;
}

ul li {
    font-size: 1em;
    color: #000;
}

a {
    color: #0066cc;
    text-decoration: none;
}

a:hover {
    color: #003399;
    text-decoration: underline;
}

table {
    width: 100%;
    border-collapse: collapse;
}

td,
th {
    border: 1px solid #ccc;
    padding: 10px;
}

body {
    font-family: Arial, sans-serif;
    font-size: 1em;
    color: #000;
}